<div class="body" id="page-top">
    <div class="box-page">
        <div class="content-landing">
            <nav-welcome></nav-welcome>
            <p class=" text-gray-600 arean-fil">Accueil <span> > Tableau de bord</span> <span> > Fonctionnalités</span></p>
            <div id="content">
                <div class="container-fluid">
                    <div class="text-center">
                        <h1 class=" text-gray-800  mb-5">Accès rapide aux fonctionnalités</h1>
                        <div class="">
                            <div class="container">
                                <features></features>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <app-logout></app-logout>
