<h2 class="title-accueil-section text-gray-800 pb-15">Gestion des risques <br>et contrôle interne</h2>
<div class="line-title mb-20"></div>
<P class="lead text-gray-800 text-left">Anticiper et s’adapter aux potentielles crises via une collaboration
    améliorée</P>

<P class=" text-gray-800 text-left">
    <img [src]="homeData.justIcon.src | assertUrl" [alt]="homeData.justIcon.alt"> &ensp;
    Centralisation et archivage les données & documents : procédures, indexing des tests, rapportsd’audit, rapports
    d’incidents
</P>
<P class=" text-gray-800 text-left">
    <img [src]="homeData.justIcon.src | assertUrl" [alt]="homeData.justIcon.alt"> &ensp;
    Pilotage du déploiement du contrôle interne
</P>
<P class=" text-gray-800 text-left">
    <img [src]="homeData.justIcon.src | assertUrl" [alt]="homeData.justIcon.alt"> &ensp;
    Consolidation des données & résultats, et formalisation par un reporting
</P>
<P class="mb-15 pb-50">
    <img [src]="homeData.homeIllustration.src | assertUrl" [alt]="homeData.homeIllustration.alt">
</P>
