<div class="container container-log">

    <div class=" o-hidden border-0">
        <div class="logbody p-0 ">
            <!-- Nested Row within Card Body -->
            <div class="row loginbody">
                <div class="col-lg-4 d-none d-lg-block leftzonelog">
                    <div class="leftlogin">
                        <div class="zonelogo">
                            <img [src]="homeData.logoImage.src | assertUrl" class="logo" [alt]="homeData.logoImage.alt">
                        </div>
                    </div><br><br>
                    <div class="textlogin">
                        <p>Mot de passe oublie? <strong> Réinitialisez-le.</strong></p>
                    </div>
                    <br>
                    <br>
                    <div class="zonelogo-img">
                        <img [src]="homeData.amicoImage.src | assertUrl" [alt]="homeData.amicoImage.alt">
                    </div>


                </div>
                <div class="col-lg-7">
                    <div class="zonelogo-hid d-block d-sm-none">
                        <img [src]="homeData.logoImage.src | assertUrl" class="logo-hid" [alt]="">
                    </div>
                    <div class="p-5">


                            <div class="">
                                <P class="acces">Réinitialisation du <br>mot de passe </P>
                            </div>

                            <form class="user" [formGroup]="resetGroup" (submit)="resetPassword()">
                                <div class="form-group">
                                    <input type="text" class="form-control  form-control-user"
                                           id="otpcode" aria-describedby="emailHelp" required
                                           placeholder="Saisissez le code de vérification à 06 chiffres..." formControlName="otpCode"  [ngClass]="{'is-invalid':(submitted && getControls.otpCode.errors)} ">
                                    <span *ngIf="submitted && getControls.otpCode.errors">
                                            <span class="text-danger" *ngIf="getControls.otpCode.errors.required"> Code Otp requis</span>
                                        </span>
                                    <span *ngIf="submitted && getControls.otpCode.errors">
                                            <span class="text-danger" *ngIf="!getControls.otpCode.errors.required">le code Otp doit contenir 6 chiffres</span>
                                    </span>
                                </div>
                                <div class="mb-20">
                                    <P class="h5">Entrez le nouveau mot de passe </P>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control  form-control-user"
                                           id="newpassword" aria-describedby="emailHelp" required
                                           placeholder="Nouveau mot de passe" formControlName="newpassword" (change)="passewordchange()" [ngClass]="{'is-invalid':((submitted && getControls.newpassword.errors)|| !ispasswordmatch)} ">
                                    <span *ngIf="submitted && getControls.newpassword.errors">
                                            <span class="text-danger" *ngIf="!getControls.newpassword.errors.required">le password doit contenir au moins 8 caractéres</span>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user"
                                           id="exampleInputEmail" aria-describedby="emailHelp" required
                                           placeholder="Confirmer le mot de passe" formControlName="oldPassword" (change)="passewordchange()"  [ngClass]="{'is-invalid':((submitted && getControls.oldPassword.errors)|| !ispasswordmatch)} ">
                                    <span *ngIf="!ispasswordmatch">
                                            <span class="text-danger" >les mots de passe ne correcpond pas</span>
                                    </span>
                                </div>


                                <button  class="btn btn-primary btn-user btn-block" >Enregistrer </button><br>
                                <div class="mb-20">
                                    <p>SI vous n'avez pas reçu le code, cliquer sur <a (click)="reSendOtpCode()" class="text-primary" > Renvoyer le code. <span *ngIf="otpTimer!=='00:00'"  class="text-danger"> {{otpTimer}} </span> </a></p>
                                </div>

                            </form>


                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<!-- Bootstrap core JavaScript-->

<!-- ---------------------- Modal error ------------------------- -->

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="modal-body text-center p-3">
                    <br>
                    <img  [src]="errorIcon | assertUrl" width="60%" alt="">
                    <br>
                    <br>
                    <p class="h3 font-weight-bold">Oups !</p>
                    <p class="h5 p-3">{{errorMessage}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark btn-block"  data-dismiss="modal" aria-label="Close">Ok &emsp; <i class="fa fa-chevron-right"></i></button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Page body page -->
