<div class="box-page">
    <div class="content-landing">
        <app-nav-home></app-nav-home>
        <div id="content">
            <div class="container-fluid">
                <div class="text-center">
                    <br><br>
                    <div class="">
                        <div class="container">
                            <div class="row">
                                <app-about class="col-md-6"></app-about>
                                <app-mods class="col-md-6 col-sm-12 pt-50"></app-mods>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
