<div>

    <div class="container container-log">

        <div class=" o-hidden border-0">
            <div class="logbody p-0 ">
                <!-- Nested Row within Card Body -->
                <div class="row loginbody">
                    <div class="col-lg-4 d-none d-lg-block leftzonelog">
                        <div class="leftlogin">
                            <div class="zonelogo">
                                <img [src]="homeData.logoImage.src | assertUrl" class="logo" [alt]="homeData.logoImage.alt">
                            </div>
                        </div>
                        <div class="textlogin">
                            <p>Mot de passe oublie? <strong> Réinitialisez-le.</strong></p>
                        </div>
                        <p class="textlogin-2">Entrez votre adresse Email, un code de restauration vous sera envoyé par mail.
                        </p>

                        <br>
                        <br>
                        <div class="zonelogo-img">
                            <img [src]="homeData.amicoImage.src | assertUrl" [alt]="homeData.amicoImage.alt">
                        </div>


                    </div>
                    <div class="col-lg-7">
                        <div class="zonelogo-hid d-block d-sm-none">

                        </div>
                        <div class="p-5">

                                <div class="mb-20">
                                    <P class="acces">Réinitialisation du mot de passe </P>
                                </div>
                                <form class="user" (submit)="forgotPassword()" [formGroup]="forgotGroup" >
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user"
                                               id="exampleInputEmail" aria-describedby="emailHelp" required
                                               placeholder="Entrez votre adresse Email..." formControlName="username"  [ngClass]="{'is-invalid':(submitted && getControls.username.errors)} ">
                                        <span *ngIf="submitted && getControls.username.errors">
                                            <span class="text-danger" *ngIf="getControls.username.errors.required">Champ username requis</span>
                                        </span>
                                        <span *ngIf="submitted && getControls.username.errors">
                                            <span class="text-danger" *ngIf="getControls.username.errors.email">email invalide</span>
                                        </span>
                                    </div>
                                    <button type="submit" href="Code-restore-password.html" class="btn btn-primary btn-user btn-block" >
                                        Envoyer le code de restauration
                                    </button>

                                </form>


                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Bootstrap core JavaScript-->


<!-- ---------------------- Modal error ------------------------- -->

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="modal-body text-center p-3">
                    <br>
                    <img  [src]="errorIcon | assertUrl" width="60%" alt="">
                    <br>
                    <br>
                    <p class="h3 font-weight-bold">Oups !</p>
                    <p class="h5 p-3">{{errorMessage}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark btn-block"  data-dismiss="modal" aria-label="Close">Ok &emsp; <i class="fa fa-chevron-right"></i></button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Page body page -->